# Facebook Page ID where the bot will post
FB_PAGE_ID=your_page_id_here

# Facebook Page Access Token (Needs 'pages_manage_posts' and 'pages_read_engagement' permissions)
FB_PAGE_ACCESS_TOKEN=your_access_token_here
